<div>
    <table>
        <img src="./assets/images/car6.jpg" alt="">
        <!-- <img  src="./assets/car.jpg" alt=""> -->
    </table>

    <h2>MAHINDHRA THAR</h2>
    <p>
        The vehicle was launched in the Indian market on October 4, 2010[1] to fill the void left by its predecessor,
        the Mahindra MM540. The Thar has been voted one of the top-10 SUVs available in the Indian market. Three
        variants - DI 2WD, DI 4WD, and CRDe, are available with soft-top versions. The Thar also comes with a
        seven-seater option, though it can be converted into a two-seater.
        Mahindra Roxor
        Main article: Mahindra Roxor
        On March 2, 2018, Mahindra Automotive North America unveiled a variant of the Thar for United States market
        called the Roxor at its assembly plant in Auburn Hills, Michigan. It is assembled from complete knock-down kits.
        Unlike the Thar, the Roxor is not street legal, and is positioned as a side-by-side off-road vehicle with a top
        speed of 45 mph. The Roxor is powered by a 2.5 L turbodiesel, four-cylinder engine producing 62 hp and 144 lb-ft
        of torque, mated to a five-speed manual transmission. An automatic transmission is available as an option. It is
        only available with two seats, a 148-inch body length, and a 96-inch wheelbase.[2]
        The second generation Thar was unveiled on August 15, 2020.[3] [4] It became available in October 2020.

        It comes with two engine options, a 2.0-litre petrol and a 2.2-litre diesel. Both are offered with a choice of
        6-speed automatic transmission (with a torque converter gearbox) made by Aisin or 6-speed manual transmission.
        Customers have the option to choose between a hard top, soft top or soft top with convertible like folding down
        mechanism.[5][6]
        Safety
        The Indian manufactured second-generation Mahindra Thar was tested by the Global NCAP in its most basic safety
        specification (for India) of two airbags, and ISOFIX child seat mounts as standard. It achieved four stars for
        both, adult and child occupant protection. Its structure was deemed to be capable of withstanding further
        loading but the footwell became unstable on impact. The Thar does not offer side airbags even as an option on
        any variant but offers ESC as an option on higher variants.

        The manufacturer sponsored a side impact test in which it comfortably passed UNECE R95 regulation despite not
        being equipped with side airbags.[7] The manufacturer also sponsored an ESC test and while the model met minimum
        UN requirements, it showed unstable dynamic behaviour and Global NCAP recommended a review and improvement.[8]

        2020 Mahindra Thar, RHD (2 airbags)
        Global NCAP scores[9]
        Adult Occupant stars 4/5 stars
        Adult occupant score 12.52/17.00
        Child Occupant stars 4/5 stars
        Child occupant score 41.11/49.00
        Cabin integrity Stable





    </p>
</div>
